<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../Home/home.css">
   
</head>
<body>
    <div class="container">
        <h1><b>Welcome to our TRAVIGO!</b></h1>
        <p>Plan your next trip with us and get ready for an unforgettable experience.</p>
        <a class="button" href="/listings">Plan Your Trip</a>
        <img class="travel" src="../Home/home_icon.jpg" alt="Travel">

        <img class="plane" src="../Home/plane.jpg" alt="Plane">
        
        <h1>ABOUT US</h1>
        <p>At TRAVIGO, we're passionate about simplifying your travel experience. Our AI-powered platform takes the hassle out of planning and booking your trips by providing personalized recommendations tailored to your preferences. Whether you're seeking adventure, relaxation, or cultural exploration, we're here to make your travel dreams a reality. Join us and discover the future of travel planning today.</p>
    </div>
</body>
</html>

